on:
  pull_request:
    branches:
      - 'main'
jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Check code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B clean compile

      - name: Run tests
        run: mvn -B test

      - name: Run Checkstyle for payment-service
        working-directory: /payment-service
        run: mvn -B checkstyle:check